body {
  margin-top: 0;
  padding: 0;
  background-image: linear-gradient(Brown, BurlyWood, Beige );
  height: 100vh;

}

h1 {
    font-family: Helvetica;
  font-size: 50px;
  text-shadow: 1px 1px 2px black;
  color: white;
  margin-top: 0;
  grid-row: 1;
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 4fr 4fr;
  background-color: white;
}
.title {
  grid-column: 2 / span 3;
  grid-row: 1;
  display: flex;
}
.ingredients{
  grid-column: 2 / span 3;
  grid-row: 2;
  display: flex;
}

.image {
  grid-column: 1;
  grid-row: 1 / span 2;
  display: flex;
}
